{%extends "base.html" %}
 
{%block content%}
<br>

<div class="col-lg-2"></div>
<div class="col-lg-8">Pending</div>
<br>
{% for i in application %} 
{% if i[1]=="p" %}
<div class="row"></div>
<div class="row">
<div class="col-lg-2"></div>
    <div class="col-lg-8">
        
        <ul class="list-group">
            <li class="list-group-item">
                <div class="card-body">
                    <div class="col-md-1">
                        status: {{i[1]}}
                    </div>
                    <div class="col-md-5">
                        reason:{{i[2]}}
                    </div>
                    <div class="col-md-2">
                       start: {{i[3]}}
                    </div>
                    <div class="col-md-2">
                        end:{{i[4]}}
                    </div>                            
                </div>
                <span class="badge"  type="button" onclick="location.href='./application_status/{{i[0]}}'">DETAILS
                </span>
            </li>
        </ul> 
    </div>
</div>

{% endif %}
{% endfor%}
<hr><br>

<div class="col-lg-2"></div>
<div class="col-lg-8">Accepted</div>
<br>
{% for i in application %} 
{% if i[1]=="a" %}
<div class="row"></div>
<div class="row">
<div class="col-lg-2"></div>
    <div class="col-lg-8">
        
        <ul class="list-group">
            <li class="list-group-item">
                <div class="card-body">
                    <div class="col-md-1">
                        status: {{i[1]}}
                    </div>
                    <div class="col-md-5">
                        reason:{{i[2]}}
                    </div>
                    <div class="col-md-2">
                       start: {{i[3]}}
                    </div>
                    <div class="col-md-2">
                        end:{{i[4]}}
                    </div>                            
                </div>
                <span class="badge"  type="button" onclick="location.href='./application_status/{{i[0]}}'">DETAILS
                </span>
            </li>
        </ul> 
    </div>
</div>

{% endif %}
{% endfor%}
<hr>
<br>

<div class="col-lg-2"></div>
<div class="col-lg-8">Rejected</div>
<br>
{% for i in application %} 
{% if i[1]=="r" %}
<div class="row"></div>
<div class="row">
<div class="col-lg-2"></div>
    <div class="col-lg-8">
        
        <ul class="list-group">
            <li class="list-group-item">
                <div class="card-body">
                    <div class="col-md-1">
                        status: {{i[1]}}
                    </div>
                    <div class="col-md-5">
                        reason:{{i[2]}}
                    </div>
                    <div class="col-md-2">
                       start: {{i[3]}}
                    </div>
                    <div class="col-md-2">
                        end:{{i[4]}}
                    </div>                            
                </div>
                <span class="badge"  type="button" onclick="location.href='./application_status/{{i[0]}}'">DETAILS
                </span>
            </li>
        </ul> 
    </div>
</div>

{% endif %}
{% endfor%}
<hr>

{% endblock %}