{%extends "base.html" %}
 
 {%block content%}
 <br>
 {% for i in lis %} 
 
{% if i["eid"]!=201700 %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        
        <ul class="list-group">
            <li class="list-group-item">
                        <div class="card-body">
                            <div class="col-md-3">
                                {{i["name"]}}
                            </div>
                            <div class="col-md-3">
                                {{i["email"]}}
                            </div>
                            <div class="col-md-3">
                                    {{i["department"]}}
                                </div>
                            
                        </div>
                        <span class="badge"  type="button" onclick="location.href='./public/{{i["eid"]}}'">VIEW PROFILE
                        </span>
            </li>
        </ul> 
    </div>
</div>

{% endif %}

 {% endfor%}
 <!-- </body> -->
 <!-- </html>  -->

 {%endblock%}