
 <!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body> -->

{% extends "base.html" %}

{%block content%}
<br><br>


{% for i in dict%}  
<div class="card" style="width: inherit;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h class="card-title" style="font-size:xx-large;font-weight:900">{{i}}:</h><br>
      <br>
      <p class="card-text">{{dict[i]}}</p>
    </div>
  </div>
  <br><br>
{% endfor %}

{% endblock %}