{% extends "base.html" %}

{% block content %}

<br><br><br>
<br><br><br>

<div class="row">
        <div class="col-lg-3"></div>
        <button class="btn btn-primary" style='margin-right:20px'  onclick="location.href = '/login'" type="login" >Login/Register</button>            
</div>
<br><br>
<div class="row">

        <div class="col-lg-3"></div>
        <button class="btn btn-primary" style='margin-right:20px'  onclick="location.href = '/public'" >Public</button>            
</div>

{%endblock%}